<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>RChain MVP</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
	<div class="col"> </div>
	<div class="col-10 shadow p-3 mb-5 bg-white rounded">
	  <h2>Feature 1 <span class="badge badge-success">completed</span></h2>
	  <div class="border p-3 mb-5">
	    <h3>As a User I want to define a user story <span class="badge badge-success">ok</span></h3>

	    <div class="border p-3 mb-5">
	      <h4>Genesis ceremony <span class="badge badge-success">ok</span> <a data-toggle="collapse" href="#collapseExample" class="badge badge-info">Info</a></h4>
	      <div class="collapse" id="collapseExample">
		<div class="card card-body">
		  <ul class="list-group">
		    <li class="list-group-item">1. step 1</li>
		    <li class="list-group-item">2. step 2</li>
		    <li class="list-group-item">3. step 3</li>
		  </ul>
		</div>
	      </div>
	    </div>  
	    
	  </div>

	  <div class="col-10 shadow p-3 mb-5 bg-white rounded">
	  <h2>Feature 2 <span class="badge badge-warning">1/3</span></h2>
	  <div class="border p-3 mb-5">
	    <h3>As a User I want to define a user story <span class="badge badge-warning">2/3</span></h3>

	    <div class="border p-2 mb-2">
	      <h4>Genesis ceremony <span class="badge badge-success">ok</span> <a data-toggle="collapse" href="#collapseExample" class="badge badge-info">Info</a></h4>
	      <div class="collapse" id="collapseExample">
		<div class="card card-body">
		  <ul class="list-group">
		    <li class="list-group-item">1. step 1</li>
		    <li class="list-group-item">2. step 2</li>
		    <li class="list-group-item">3. step 3</li>
		  </ul>
		</div>
	      </div>
	    </div>
	    
	    <div class="border p-2 mb-2">
	      <h4>Genesis ceremony second <span class="badge badge-danger">failed</span> <a data-toggle="collapse" href="#collapseExample" class="badge badge-info">Info</a></h4>
	      <div class="collapse" id="collapseExample">
		<div class="card card-body">
		  <ul class="list-group">
		    <li class="list-group-item">1. step 1</li>
		    <li class="list-group-item">2. step 2</li>
		    <li class="list-group-item">3. step 3</li>
		  </ul>
		</div>
	      </div>
	    </div>  

	    
	  </div>

	  
	</div>
	<div class="col">
	</div>
      </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
